* {
  font-family: 'Sono', 'Roboto', sans-serif;
}


footer {
  display: flex;
  justify-content: center;
  align-items: center;;
}

#github-logo {
  height: auto;
  width: 20px;
  margin-left: 6px;
}