* {
  font-family: 'Sono', 'Roboto', sans-serif;
}

button,
input,
select {
  font-family: inherit;
  font-size: 100%;
  padding: 0; margin: 0;
}

.content{
  display: flex;
  height: min(100vh - 2.5rem, 2.2*30vw);
}

/* Logo Banner */

.banner-container {
  width: 30%;
  /* height: min(100vh - 2.2rem, 2.2*30vw); */
  background-image: url('./images/greg-rakozy-oMpAz-DN-9I-unsplash.jpg');
  background-position: center;
  background-size: cover;
  position: relative;
}

.logo {
  box-sizing: border-box;
  position: absolute;
  top: 19%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5%;
  background-color: rgba(0, 0, 0, 0.548);
  padding: 16px 5%;
}

.logo > img {
  max-width: max(5vw, 24px);
  min-width: 35px;
  filter: invert(100);
}

.logo > p {
  margin: 0;
  color: white;
  font-size: max(5.3vw, 30px);
  font-weight: 300;
  text-align: center;
}

/* Form Header */

.form-container {
  --form-padding: 5%;
  width: 70%;
  font-size: min(24px, 2vw);
  background-color: white;
  display: flex;
  flex-direction: column;
}

/* .description > p {
  margin: 0;
} */

.description {
  background-image: linear-gradient(rgb(23, 0, 25), rgb(231, 193, 231));
  /* height: 20%; */
  padding: var(--form-padding);
  padding-top: 8%;
}

/* Main Form */

.main-form {
  padding: 0 var(--form-padding) var(--form-padding);
  background-color: white;
  border: 2px solid blue;
  height: 35%
}

h3 {
  margin-bottom: 10px;
}

.row {
  display: flex;
  gap: 100px;
  align-items: center;
}

.row:nth-child(n + 2) {
  margin-top: 2%;
}

/* Place label above input field */
.row div {
  display: flex;
  flex-direction: column;
}

.main-form label {
  font-size: 1rem;
  padding-bottom: 6px;
}

input {
  height: 1.4rem;
  width: 100%;
  font-size: 1rem;
  padding: 2px 8px;

}

/* Footer */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4px;
}

#github-logo {
  height: auto;
  width: 20px;
  margin-left: 6px;
}